@import "./components/fonts.scss";
@import "./components/header.scss";
@import "./components/hero.scss";
@import "./components/dream.scss";
@import "./components/activities.scss";
@import "./components/footer.scss";


body{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;    
}
 
li{
    list-style: none;
}