@font-face {
    font-family: Monserrat;
    src: url(../../fonts/montserrat-regular.woff);
    font-weight: 400;
}
@font-face {
    font-family: Monserrat;
    src: url(../../fonts/montserrat-bold.woff);
    font-weight: 700;
}
@font-face {
    font-family: Monserrat;
    src: url(../../fonts/montserrat-lightitalic.woff);
    font-weight: 300;
}